n8n-betting-workflow.json
{
  "name": "AI Sports Betting Analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "betting-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "betting-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "away-team-id",
              "name": "away_team",
              "value": "={{ \n  (() => {\n    const raw =\n      $json?.message?.text ??\n      $json?.text ??\n      $json?.teams ??\n      $json?.body?.text ??\n      '';\n    \n    const input = String(raw).replace(/[\\r\\n\\t]/g, '').trim();\n    \n    if (input.toLowerCase().includes('general') || input === '') {\n      return 'General';\n    }\n    \n    const vsMatch = input.match(/^(.+?)\\s*(?:vs|@| v | versus )\\s*(.+?)$/i);\n    if (vsMatch && vsMatch[1]) {\n      return vsMatch[1].replace(/[\\r\\n\\t]/g, '').trim();\n    }\n    \n    if (input.includes(',')) {\n      return input.split(',')[0].replace(/[\\r\\n\\t]/g, '').trim();\n    }\n    \n    return input;\n  })()\n}}",
              "type": "string"
            },
            {
              "id": "home-team-id", 
              "name": "home_team",
              "value": "={{ \n  (() => {\n    const raw =\n      $json?.message?.text ??\n      $json?.text ??\n      $json?.teams ??\n      $json?.body?.text ??\n      '';\n    \n    const input = String(raw).replace(/[\\r\\n\\t]/g, '').trim();\n    \n    if (input.toLowerCase().includes('general') || input === '') {\n      return 'General';\n    }\n    \n    const vsMatch = input.match(/^(.+?)\\s*(?:vs|@| v | versus )\\s*(.+?)$/i);\n    if (vsMatch && vsMatch[2]) {\n      return vsMatch[2].replace(/[\\r\\n\\t]/g, '').trim();\n    }\n    \n    if (input.includes(',')) {\n      const parts = input.split(',');\n      return parts.length >= 2 ? parts[1].replace(/[\\r\\n\\t]/g, '').trim() : input;\n    }\n    \n    return input;\n  })()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "edit-fields", 
      "name": "Parse Teams",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.the-odds-api.com/v4/sports/baseball_mlb/odds/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "regions",
              "value": "us"
            },
            {
              "name": "markets",
              "value": "h2h"
            },
            {
              "name": "oddsFormat", 
              "value": "american"
            },
            {
              "name": "apiKey",
              "value": "YOUR_API_KEY_HERE"
            }
          ]
        },
        "options": {}
      },
      "id": "get-odds",
      "name": "Get MLB Odds", 
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "away-condition",
              "leftValue": "={{ $json.away_team || $json.awayTeam }}",
              "rightValue": "={{ $('Parse Teams').item.json.away_team }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "home-condition", 
              "leftValue": "={{ $json.home_team || $json.homeTeam }}",
              "rightValue": "={{ $('Parse Teams').item.json.home_team }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "filter-teams",
      "name": "Filter Teams",
      "type": "n8n-nodes-base.filter", 
      "typeVersion": 2.2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "modelId": {
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "{{ \n  (() => {\n    const persona = $('Webhook Trigger').item.json.persona || 'Conservative';\n    let systemPrompt = '';\n    let outputStyle = '';\n    \n    if (persona === 'Bobby Vegas') {\n      systemPrompt = 'You are BOBBY VEGAS - a high-rolling, aggressive sports bettor who lives for big plays and bold moves. You hunt for value, love underdogs, and aren\\'t afraid of risk.';\n      outputStyle = 'Be bold, confident, and entertaining. Use Vegas slang and betting terminology. Focus on finding value bets and don\\'t shy away from higher-risk plays.';\n    } else if (persona === 'Data-Driven') {\n      systemPrompt = 'You are a methodical, data-driven sports betting analyst who relies on statistical models, historical trends, and mathematical edges.';\n      outputStyle = 'Be analytical and precise. Focus on statistical advantages, probability calculations, and data-backed reasoning. Emphasize bankroll management.';\n    } else {\n      systemPrompt = 'You are a cautious, conservative sports betting analyst who emphasizes risk management and only recommends high-confidence bets.';\n      outputStyle = 'Be conservative and measured. Only recommend bets with clear statistical advantages and emphasize proper bankroll management.';\n    }\n    \n    return `${systemPrompt}\n\nAnalyze the following data for the upcoming game between {{ $('Parse Teams').item.json.away_team }} vs {{ $('Parse Teams').item.json.home_team }}\n\nPersona: ${persona}\nSection 1: Odds Data\n{{ JSON.stringify($json.odds) }}\n\nSection 2: Sentiment Analysis\n{{ JSON.stringify($json.sentiment) }}\n\nCALCULATED ODDS SUMMARY:\nThe average American odds for the away team are: {{ $(\"Code2\").item.json.away_avg_american }}\nThe average American odds for the home team are: {{ $(\"Code2\").item.json.home_avg_american }}\nThe favorite team is: {{ $(\"Code2\").item.json.favorite_team }} with odds: {{ $(\"Code2\").item.json.favorite_odds }}\nThe underdog team is: {{ $(\"Code2\").item.json.underdog_team }} with odds: {{ $(\"Code2\").item.json.underdog_odds }}\n\nUse these values exactly as provided. Display all odds as whole numbers without decimals. Do not recalculate or reinterpret the odds. Include spread information and confidence percentage (0-100%).\n\nCRITICAL ODDS MAPPING RULES:\n1. AWAY TEAM is {{ $('Parse Teams').item.json.away_team }} - find this team's odds in the data\n2. HOME TEAM is {{ $('Parse Teams').item.json.home_team }} - find this team's odds in the data\n3. In American odds: NEGATIVE numbers (like -150) = FAVORITE, POSITIVE numbers (like +130) = UNDERDOG\n4. Calculate average odds for each team across all bookmakers\n5. The team with negative or lower positive odds is the FAVORITE\n6. The team with higher positive odds is the UNDERDOG\n\nBased on the odds discrepancies, bookmaker consensus, and sentiment analysis:\n- Use the calculated favorite vs underdog identification from Code2 node\n- Recommend which team has the advantage using the pre-calculated values\n- Advise if current odds justify a bet\n- Consider both mathematical edge and sentiment factors\n\n${outputStyle}\n\nOutput Format: Return as modern Telegram-styled text with personality matching your persona. Include:\n- Game matchup with CORRECT favorite/underdog identification\n- Odds analysis with specific numbers\n- Sentiment summary\n- Final recommendation with reasoning\n- Confidence level\n\nBe accurate with odds interpretation and maintain your persona throughout.`;\n  })()\n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "analyze-game",
      "name": "AI Analysis",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1040, 300],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CRED_ID",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Return Results",
      "type": "n8n-nodes-base.respondToWebhook", 
      "typeVersion": 1.1,
      "position": [1240, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Teams": {
      "main": [
        [
          {
            "node": "Get MLB Odds",
            "type": "main", 
            "index": 0
          }
        ]
      ]
    },
    "Get MLB Odds": {
      "main": [
        [
          {
            "node": "Filter Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Teams": {
      "main": [
        [
          {
            "node": "AI Analysis", 
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analysis": {
      "main": [
        [
          {
            "node": "Return Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-23T04:19:26.000Z",
  "versionId": "1"
}