public/n8n-betting-workflow.json
{
  "name": "AI Sports Betting Analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "betting-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "betting-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "away-team-id",
              "name": "away_team",
              "value": "={{ \n  (() => {\n    const raw =\n      $json?.message?.text ??\n      $json?.text ??\n      $json?.teams ??\n      $json?.body?.text ??\n      '';\n    \n    const input = String(raw).trim();\n    \n    if (input.toLowerCase().includes('general') || input === '') {\n      return 'General';\n    }\n    \n    const vsMatch = input.match(/^(.+?)\\s*(?:vs|@| v | versus )\\s*(.+?)$/i);\n    if (vsMatch && vsMatch[1]) {\n      return vsMatch[1].trim();\n    }\n    \n    if (input.includes(',')) {\n      return input.split(',')[0].trim();\n    }\n    \n    return input;\n  })()\n}}",
              "type": "string"
            },
            {
              "id": "home-team-id", 
              "name": "home_team",
              "value": "={{ \n  (() => {\n    const raw =\n      $json?.message?.text ??\n      $json?.text ??\n      $json?.teams ??\n      $json?.body?.text ??\n      '';\n    \n    const input = String(raw).trim();\n    \n    if (input.toLowerCase().includes('general') || input === '') {\n      return 'General';\n    }\n    \n    const vsMatch = input.match(/^(.+?)\\s*(?:vs|@| v | versus )\\s*(.+?)$/i);\n    if (vsMatch && vsMatch[2]) {\n      return vsMatch[2].trim();\n    }\n    \n    if (input.includes(',')) {\n      const parts = input.split(',');\n      return parts.length >= 2 ? parts[1].trim() : input;\n    }\n    \n    return input;\n  })()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "edit-fields", 
      "name": "Parse Teams",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.the-odds-api.com/v4/sports/americanfootball_ncaaf/odds/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "regions",
              "value": "us"
            },
            {
              "name": "markets",
              "value": "h2h"
            },
            {
              "name": "oddsFormat", 
              "value": "american"
            },
            {
              "name": "apiKey",
              "value": "={{ $json.test ? 'demo_key' : 'YOUR_REAL_ODDS_API_KEY_HERE' }}"
            }
          ]
        },
        "options": {
          "ignore_ssl_issues": false,
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "autodetect"
            }
          }
        }
      },
      "id": "get-odds",
      "name": "Get NCAAF Odds", 
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "mock-odds-id",
              "name": "mock_odds_data",
              "value": "={{ $json.test ? [\n  {\n    \"id\": \"mock_game_1\",\n    \"sport_key\": \"americanfootball_ncaaf\",\n    \"commence_time\": \"2025-09-07T17:00:00Z\",\n    \"home_team\": $('Parse Teams').item.json.home_team,\n    \"away_team\": $('Parse Teams').item.json.away_team,\n    \"bookmakers\": [\n      {\n        \"key\": \"fanduel\",\n        \"title\": \"FanDuel\",\n        \"markets\": [\n          {\n            \"key\": \"h2h\",\n            \"outcomes\": [\n              {\n                \"name\": $('Parse Teams').item.json.away_team,\n                \"price\": 650\n              },\n              {\n                \"name\": $('Parse Teams').item.json.home_team,\n                \"price\": -900\n              }\n            ]\n          }\n        ]\n      },\n      {\n        \"key\": \"draftkings\",\n        \"title\": \"DraftKings\",\n        \"markets\": [\n          {\n            \"key\": \"h2h\",\n            \"outcomes\": [\n              {\n                \"name\": $('Parse Teams').item.json.away_team,\n                \"price\": 675\n              },\n              {\n                \"name\": $('Parse Teams').item.json.home_team,\n                \"price\": -1050\n              }\n            ]\n          }\n        ]\n      }\n    ]\n  }\n] : $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "handle-odds-fallback",
      "name": "Handle Odds Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [740, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "away-condition",
              "leftValue": "={{ $json.away_team || $json.awayTeam }}",
              "rightValue": "={{ $('Parse Teams').item.json.away_team }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "home-condition", 
              "leftValue": "={{ $json.home_team || $json.homeTeam }}",
              "rightValue": "={{ $('Parse Teams').item.json.home_team }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "filter-teams",
      "name": "Filter Teams",
      "type": "n8n-nodes-base.filter", 
      "typeVersion": 2.2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "modelId": {
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "{{ \n  (() => {\n    const persona = $('Webhook Trigger').item.json.persona || 'Conservative';\n    let systemPrompt = '';\n    \n    if (persona === 'Bobby Vegas') {\n      systemPrompt = 'You are BOBBY VEGAS - a high-rolling, aggressive sports bettor who lives for big plays and bold moves. You hunt for value and aren\\'t afraid of risk. You speak with swagger and confidence.';\n    } else if (persona === 'Data-Driven') {\n      systemPrompt = 'You are a methodical, data-driven sports betting analyst who relies on statistical models, historical trends, and mathematical edges. You prioritize bankroll management and conservative plays.';\n    } else {\n      systemPrompt = 'You are a cautious, conservative sports betting analyst who emphasizes risk management and only recommends high-confidence bets with clear statistical advantages.';\n    }\n    \n    return `${systemPrompt}\n\nAnalyze this College Football game: {{ $('Parse Teams').item.json.away_team }} (away) vs {{ $('Parse Teams').item.json.home_team }} (home)\n\nPersona: ${persona}\nOdds Data Available: {{ $json.mock_odds_data ? 'Yes (Mock Data for Testing)' : 'Yes (Live Data)' }}\nOdds Details:\n{{ JSON.stringify($json.mock_odds_data || $json.bookmakers || $json) }}\n\nCALCULATED ODDS SUMMARY:\nThe average American odds for the away team are: {{ $(\"Code2\").item.json.away_avg_american }}\nThe average American odds for the home team are: {{ $(\"Code2\").item.json.home_avg_american }}\nThe favorite team is: {{ $(\"Code2\").item.json.favorite_team }} with odds: {{ $(\"Code2\").item.json.favorite_odds }}\nThe underdog team is: {{ $(\"Code2\").item.json.underdog_team }} with odds: {{ $(\"Code2\").item.json.underdog_odds }}\n\nUse these values exactly as provided. Do not recalculate or reinterpret the odds.\n\nCRITICAL: When analyzing odds, remember:\n- NEGATIVE odds (like -150) = FAVORITE (lower risk, lower payout)\n- POSITIVE odds (like +130) = UNDERDOG (higher risk, higher payout)\n- The team with negative or lower positive odds is the FAVORITE\n- The team with higher positive odds is the UNDERDOG\n\nProvide analysis in this JSON format:\n{\n  \"favorite_team\": \"<team_with_negative_or_lower_positive_odds>\",\n  \"favorite_odds\": <numeric_odds_for_favorite>,\n  \"underdog_team\": \"<team_with_higher_positive_odds>\", \n  \"underdog_odds\": <numeric_odds_for_underdog>,\n  \"recommendation_team\": \"<team_to_bet_on>\",\n  \"recommendation_side\": \"<Favorite|Underdog>\",\n  \"confidence\": \"<High|Medium|Low>\",\n  \"reasoning\": \"<analysis_reasoning_matching_your_persona>\"\n}`;\n  })()\n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "analyze-game",
      "name": "AI Analysis",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1140, 300],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CRED_ID",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Return Results",
      "type": "n8n-nodes-base.respondToWebhook", 
      "typeVersion": 1.1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Teams": {
      "main": [
        [
          {
            "node": "Get NCAAF Odds",
            "type": "main", 
            "index": 0
          }
        ]
      ]
    },
    "Get NCAAF Odds": {
      "main": [
        [
          {
            "node": "Handle Odds Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Odds Data": {
      "main": [
        [
          {
            "node": "Filter Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Teams": {
      "main": [
        [
          {
            "node": "AI Analysis", 
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analysis": {
      "main": [
        [
          {
            "node": "Return Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-23T04:19:26.000Z",
  "versionId": "1"
}